blinker==1.8.2
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
Flask==3.0.3
fonttools==4.53.1
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
loguru==0.7.2
MarkupSafe==2.1.5
matplotlib==3.9.2
numpy==2.1.0
packaging==24.1
pillow==10.4.0
psutil==6.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
six==1.16.0
Werkzeug==3.0.4
