@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Pacifico&display=swap");

:root {
  --bg: #142943;
  --bg2: rgba(24, 25, 38, 30);
  --fg: #cad3f5;
  --accent: #9ABFE5;
  --accent-hover: #9ABFE5;
  --accent-pressed: #babbf1;
  --critical: #ed8796;
  --warning: #e5c890;
  --normal: #a6da95;
}

html {
  width: 100%;
  height: auto;
  background-image: url("../bg.jpg");
  display: flex;
  scrollbar-color: var(--accent-hover) var(--bg);
  scrollbar-arrow-color: var(--bg) var(--bg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", system-ui;
  color: var(--accent-hover);
  font-size: small;
  animation: fadeIn 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock {
  margin: 0%;
}

.clock h1 {
  font-size: 700%;
  height: 100%;
  color: var(--bg);
}

.clock h3 {
  font-size: 200%;
  height: 100%;
  color: var(--accent-hover);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-left {
  text-align: left;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadeOut 1s ease;
}

.modal-content {
  background-color: rgba(24, 25, 38, 0.4);
  backdrop-filter: blur(8.3px);
  margin: 15% auto;
  border: 2px solid var(--bg2);
  width: 50%;
  padding: 20px;
  border-radius: 20px;
  animation: slideInDown 1s ease;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover,
.close-button:focus {
  color: var(--accent-hover);
  text-decoration: none;
  cursor: pointer;
}

.tab-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.tab-button {
  background-color: var(--accent-pressed);
  color: var(--bg);
  border: 2px solid var(--bg2);
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 1%;
  border-radius: 10px;
  transition:
    background-color 0.6s ease,
    transform 0.6s ease;
}

.tab-button.active {
  background-color: var(--accent-hover);
}

.tab-button:hover {
  transform: scale(1.05);
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.context-menu li:hover {
  background-color: #f2f2f2;
}

.progress-bar {
  width: 80%;
  height: 20px;
  background-color: var(--bg);
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 0.5s ease;
  box-shadow: 2px 2px 10px var(--bg);
  display: block;
  text-align: left;
}

.progress {
  font-family: "M PLUS Rounded 1c", system-ui;
  width: 0%;
  height: 100%;
  background-color: var(--accent-hover);
  transition: width 0.5s ease-in-out;
}

.info-table {
  font-family: "M PLUS Rounded 1c", system-ui;
  border-collapse: collapse;
  font-size: 16px;
  animation: fadeIn 0.5s ease;
}

.info-table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  transition: background-color 0.6s ease;
}

.control {
  font-family: "M PLUS Rounded 1c", system-ui;
  height: 100vh;
  display: flex;
  animation: fadeIn 0.5s ease;
}

.p_buttons {
  display: flex;
  flex-direction: column;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.power_button {
  height: 12vh;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--bg2);
  border-radius: 10px;
  display: block;
  margin: 1vh;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s,
    background-color 0.3s,
    fill 0.5s;
  background-color: rgba(24, 25, 38, 0.4);
  backdrop-filter: blur(10px);
  animation: fadeIn 0.5s ease,
  slideInDown 1s ease;
}

.power_button svg {
  height: 5vh;
  aspect-ratio: 1 / 1;
}

.power_button:hover {
  transform: scale(1.05);
  background-color: var(--accent-hover);
}

.power_button:hover svg path {
  fill: var(--bg);
}

.power_button svg path {
  fill: var(--accent-hover);
}

.content-title {
  font-family: "Pacifico", cursive;
  font-size: 70px;
  font-weight: bold;
  animation: fadeIn 0.5s ease;
  margin-top: 2%;
  margin-bottom: 2%;
}

p {
  font-size: small;
  animation: fadeIn 0.5s ease;
}

select.button {
  background-color: rgba(24, 25, 38, 0.4);
  border-radius: 16px;
  box-shadow: 10 40px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 2px solid var(--bg2);
  font-family: "M PLUS Rounded 1c", system-ui;
  color: var(--accent-hover);
  cursor: pointer;
  transition:
    background-color 0.7s ease,
    transform 0.6s ease;
  z-index: 10000;
  margin-bottom: 2%;
  animation: slideInDown 1s ease;
}

select.button:hover {
  background-color: var(--accent-hover);
  color: var(--bg);
  transform: scale(1.05);
}

select.button:active {
  background-color: rgba(24, 25, 38, 0.4);
  color: var(--bg);
}

.button {
  background-color: var(--accent-pressed);
  color: var(--bg);
  border-radius: 16px;
  box-shadow: 10 40px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 2px solid var(--bg2);
  font-family: "M PLUS Rounded 1c", system-ui;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  height: 3vh;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0.5vh;
  font-size: small;
  cursor: pointer;
  transition:
    background-color 0.7s ease,
    transform 0.6s ease;
  animation: slideInDown 1s ease;
}

.button:hover {
  background-color: var(--accent-hover);
  transform: scale(1.05);
}

.button:active {
  background-color: var(--accent-pressed);
}

@keyframes fadeIn {
  from {
    opacity: 0;2
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-height: 992px) {
  .button {
    height: 7vh;
  }
}

@media (min-height: 1300px) {
  .button {
    height: 3vh;
  }
}

.dock {
  align-items: center;
  display: flex;
  margin-top: 1%;
  width: 100%;
  height: auto;
  justify-content: center;
  z-index: 56;
  animation: fadeIn 0.5s ease;
}

@media (min-width: 800px) {
  .dock {
    display: none;
  }
}

.tab-content {
  display: none;
  transition: opacity 1s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
  animation: fadeIn 0.5s ease;
}

.tab-content.hidden {
  opacity: 0;
}

.container {
  font-family: "M PLUS Rounded 1c", system-ui;
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 80%;
  height: auto;
  margin-left: 10%;
  border-radius: 30px;
  background-color: transparent;
  animation: fadeIn 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.summary_data {
  background-color: rgba(24, 25, 38, 0.4);
  border-radius: 16px;
  box-shadow: 10 40px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid var(--bg2);
  font-family: "M PLUS Rounded 1c", system-ui;
  transition:
    transform 0.5s,
    opacity 0.5s,
    box-shadow 0.5s;
  display: flex;
  width: 30%;
  aspect-ratio: 2 / 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
  margin: 1%;
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

.summary_data_text {
  align-items: center;
  align-content: center;
}

.system_info {
  background-color: rgba(24, 25, 38, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 2px solid var(--bg2);
  width: 60%;
  padding: 5%;
  transition: backdrop 0.5s;
  animation:slideInDown 1s ease,
            fadeIn 0.5s ease;
}

h3 {
  font-size: 13px;
  font-weight: bold;
  font-family: "M PLUS Rounded 1c", system-ui;
}

.summary_data div {
  margin-bottom: auto;
}

.summary_data svg {
  width: 20%;
}

.summary_data svg path {
  fill: var(--accent-hover);
}

.summary_data span {
  font-size: 13px;
  font-weight: bold;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "M PLUS Rounded 1c", system-ui;
  animation: fadeIn 0.5s ease;
}

.summary_data:hover {
  transform: scale(1.05);
}

.port-table {
  background-color: rgba(24, 25, 38, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 2px solid var(--bg2);

  margin: 3%;
  padding: 2%;
  height: 100%;
  width: 30%;
}

.port-table caption {
  font-family: "M PLUS Rounded 1c", system-ui;
  font-size: 300%;
  margin: 5%;
}

.port-table table thead tr th {
  text-align: center;
  padding: 1%;
}

.port-table table tbody tr th {
  text-align: center;
  padding: 1%;
}

.main-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.port-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;

  align-items: center;
  justify-content: center;

  animation: slideInDown 1s ease;
}

.port-block {
  background-color: rgba(24, 25, 38, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 2px solid var(--bg2);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  aspect-ratio: 2/1;

  margin: 1%;
  padding: 1%;

  width: 15%;
  height: auto;

  line-height: 1%;

  transition:
    transform 0.6s ease;
  animation: fadeIn 0.5s ease;
}

.port-block:hover {
  transform: scale(1.05);
}

.port-block img {
  width: 10%;
}

@media screen and (max-width: 800px) {
  .port-block {
    width: 70%;
    margin: 1%;
    padding: 4%;
  }

  .cards {
    flex-direction: column;
  }

  .summary_data svg {
    width: 15%;
  }

  .button {
    width: 50%;
  }

  .summary_data {
    width: 85%;
  }

  .system_info {
    margin-top: 20%;
    width: 100%;
  }

  .port-table {
    width: 90%;
  }

  .p_buttons {
    margin-top: 20%;
  }

  select.button {
    height: 50px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 800px) {
  html {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  select.button {
    animation: slideInDown 1s ease;
  }

  .button {
    animation: slideInUp 1s ease;
  }

  .summary_data {
    width: 35%;
  }

  .system_info {
    width: 60%;
  }

  .summary_data svg {
    width: 17%;
  }

  .port-container {
    height: 100%;
    width: 100%;
  }

  .port-block {
    width: 30%;
    margin: 1%;
    padding: 4%;
  }
}

@media screen and (min-width: 1300px) {
  html {
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .summary_data {
    width: 100%;
  }

  .system_info {
    width: 35%;
  }

  .port-container {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 2000px) {
  .summary_data svg {
    width: 15%;
  }
}
