:root {
  --bg: #222831;
  --fg: #d5d9d6;
  --accent: #31363f;
  --accent-hover: #76abae;
  --accent-pressed: #31363f;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #31363f;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  width: 0%;
  height: 100%;
  background-color: var(--accent-hover);
  transition: width 0.5s ease-in-out;
}

.info-table {
  width: 50%;
  border-collapse: collapse;
  font-size: 16px;
}

.info-table td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

.info-table td:first-child {
  font-weight: bold;
  width: 30%;
}

.info-table td:last-child {
  width: 70%;
}

.control {
  height: 100vh;
  display: flex;
}

.p_buttons {
  margin-top: 30%;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 2%;
}

.power_button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  margin: 2%;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
  background-color: var(--accent-hover);
}

.power_button img {
  width: 70%;
  height: auto;
}

.power_button:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .power_button {
    margin: 2%;
    width: 60px;
    height: 60px;
  }
}

.content-title {
  font-size: 50px;
  font-weight: bold;
  animation: fadeIn 1s ease;
}

textarea {
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  border-radius: 20px;
  scrollbar-color: var(--fg) transparent;
  scrollbar-arrow-color: transparent transparent;
  width: 96%;
  height: 80vh;
  animation: slideInLeft 1s ease;
}

p {
  font-size: small;
  animation: fadeIn 1s ease;
}

body {
  font-family: Arial, sans-serif;
  color: var(--fg);
  background-color: var(--bg);
  background-size: cover;
  font-size: small;
  animation: fadeIn 1s ease;
}

html {
  scrollbar-color: var(--fg) transparent;
  scrollbar-arrow-color: transparent transparent;
}

select.button {
  appearance: none;
  background-color: var(--accent);
  color: var(--fg);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 1%;
  transition: background-color 0.7s ease;
  z-index: 10000;
  margin-bottom: 2%;
  animation: slideInDown 1s ease;
}

select.button:hover {
  background-color: var(--accent-hover);
}

select.button:active {
  background-color: var(--accent-pressed);
}

.button {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  height: 3vh;
  width: 30%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0.5vh;
  border: none;
  border-radius: 10px;
  background-color: var(--accent);
  color: var(--fg);
  font-size: small;
  cursor: pointer;
  transition: background-color 0.7s ease;
  animation: slideInUp 1s ease;
}

.button:hover {
  background-color: var(--accent-hover);
  border: none;
}

.button:active {
  background-color: var(--accent-pressed);
  border: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 992px) {
  .button {
    height: 5vh;
  }
}

@media (min-width: 2000px) {
  .button {
    height: 3vh;
  }
}

.dock {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 56;
  animation: fadeIn 1s ease;
}

.clock {
  font-size: 48px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2%;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease;
}

.tab-content {
  display: none;
  transition: opacity 1s ease;
}
.tab-content.active {
  display: block;
  opacity: 1;
  animation: fadeIn 1s ease;
}
.tab-content.hidden {
  opacity: 0;
}

.container {
  margin-top: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: 80%;
  height: auto;
  margin-left: 10%;
  display: block;
  border-radius: 30px;
  background-color: var(--bg);
  backdrop-filter: blur(10px);
  animation: fadeIn 1s ease;
}

.summary_data {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.net_summary_data {
  display: flex;
  width: 30%;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary_data img {
  width: 20%;
}

.net_summary_data img {
  width: 20%;
}

.net_summary_data h3 {
  color: var(--bg);
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

.summary_data, .net_summary_data span {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 599px) {
  .summary_data img {
    width: 40%;
  }
  .net_summary_data img {
    width: 20%;
  }
  .summary_data_text {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .container {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 96%;
    height: auto;
    margin-left: 2%;
    display: block;
  }
  .button {
    width: 50%;
  }

  .net_summary_data {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) {
  select.button {
    animation: slideInDown 1s ease;
  }

  .button {
    animation: slideInUp 1s ease;
  }

  .summary_data {
    display: flex;
    width: 10%;
  }
  .net_summary_data img {
    width: 10%;
  }
}
